<% provide(:title, 'Home') %>

<div class="content">
  <header>
    <div class="card row">
      <div class="copy_container offset-by-five">
        <%if signed_in? %> 
          <h1><p>Welcome to CLYQE</p></h1>
          <p><%= link_to "Search for gear to rent", new_search_path, class: "btn btn-large btn-success" %></p>
          <p><%= link_to "Post gear", postgear_path, class: "btn btn-large btn-success" %></p>
        <%else %>
          <h1>A PLACE FOR YOU TO</h1>
          <h4>list gears, rent gears, and learn from each other.</h4>  
          <p>Whether you are looking for a gear on your trips or you are looking to rent out your gears, ClyQe is here to connect photographers around the world.</p> 
          <h5 class="add-padding">Currently, we are getting ready for a beta version. You can sign up below if you are interested in taking part. We'll keep you updated.</h5>
          <div class="input-group">
            <input type="text" class="form-control subscribe-bar" placeholder="Email Address">
            <span class="input-group-btn">
              <!--<button class="btn btn-default" type="button">Sign Up!</button>-->
              <%= link_to "Sign up now!", signup_path, class: "btn btn-success" %>
            </span>
            
          </div>
        <% end%>
      </div>
  </div>
</div>

<div id="content-area-home" class="container">
  <div class="span4 span4-gray">
    <h3>MAKE MONEY</h3>
    <%= image_tag("make_money/make_money_1.png") %>
    <p>Majority of people use their gears less than 150 days out of a year. ClyQe allows you to gain profits from unused gears. Rent out your gears when you don't need them, and keep them when you do. </p>
    <!--<p><%= link_to "Click here to learn how", make_money_path%></p>-->
  </div>
  <div class="span4 span4-gray-2">
    <h3>CONVENIENCE</h3>
    <%= image_tag("conv_1.png") %>
    <p>No more paying rental fee for the length of your travel. ClyQe gives you a way to rent with flexible schedule and location. Rent a gear when you need one, and save money on the day that you don't. </p> 
    <p></p>
    <!--<p><%= link_to "Learn to learn more"%></p>-->
  </div>
  <div class="span4 span4-gray">
    <h3>COMMUNITY</h3>
    <%= image_tag("community_1.png") %>
    <p>Whether you are gear owners or renters, ClyQe is a place to make friends. Learn from your fellow photographers on tips about gears, techniques, and destination.</p>
    &nbsp
    <!--<%= link_to "Click here to learn more"%>-->
  </div>
</div>
