<% provide(:title, 'Home') %>

<div class="jumbotron">
  <div class="container container-full-width container-fluid">
    <div class="search-area-home">
      <%if signed_in? %>
        <h1><p>Welcome to CLYQE</p></h1>
        <p><%= link_to "Search for gear to rent", new_search_path, class: "btn btn-large btn-success" %></p>
        <p><%= link_to "Post gear", postgear_path, class: "btn btn-large btn-success" %></p>
      <%else %>
        <h2>ClyQe is a place for you to</h2>
        <h4>list gears, rent gears, and learn from each other.</h4>     
        <p><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %></p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="span4">
    <h3>Make Money</h3>
    <p>Gears are not cheap. Renting out your unused gears could pay your new gears, or fund your next projects. </p>
    <p><%= link_to "Click here to learn how" %></p>
  </div>
  <div class="span4">
    <h3>Convenience!</h3>
    <p>Save the hassle of carrying your gears to/from your destinations. Rent with a flexible schedule from your fellow photographers!</p> 
    <p><%= link_to "Learn to learn more"%></p>
  </div>
  <div class="span4">
    <h3>Community</h3>
    <p>Learn from your fellow photographers on gear tips, photography tips, and destination tips. </p>
    <%= link_to "Click here to learn more"%>
  </div>
</div>

<% end %>
