<% provide(:title, 'Home') %>

<div class="content">
  <header>
    <div class="card row">
      <div class="copy_container offset-by-five">
        <%if signed_in? %> 
          <h1><p>Welcome to CLYQE</p></h1>
          <p><%= link_to "Search for gear to rent", new_search_path, class: "btn btn-large btn-success" %></p>
          <p><%= link_to "Post gear", postgear_path, class: "btn btn-large btn-success" %></p>
       
        <%else %>
          <h1>A PLACE FOR YOU TO</h1>
          <h4>list gears, rent gears, and learn from each other.</h4>  
          <p>Whether you are looking for a gear on your trips or you are looking to rent out your gears, ClyQe is here to connect photographers around the world.</p> 
          <h5 class="add-padding">Currently, we are getting ready for a beta version. You can sign up below if you are interested in taking part. We'll keep you updated.</h5>

          <!--this is for getting email input and confirming email using devise-->
          <%if flash[:suc]%>
            
            <div class="alert alert-info"><%= flash[:suc]%></div>
            
          <%elsif flash[:notice]%>
              <div class="alert alert-info">
                  <p>Please check your email to verify the account.</p></div>
          <%else%>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <%= f.text_field :email,:maxlength => 100, :placeholder => "Email Address" %>
              <%= f.submit "Sign up", class: "btn btn-success"  %>
            <%end%>
          <% end %>

          <!--<p><%= link_to "Clyqe to Sign Up!", new_visitor_registration_path, :class => "btn btn-large btn-success"%> </p>-->

          <!--
          <div class="input-group">
            <input type="text" class="form-control subscribe-bar" placeholder="Email Address">
            <span class="input-group-btn">
              <%= link_to "Sign up now!", signup_path, class: "btn btn-success" %>
            </span>
          -->
          </div>
          
        <% end%>
      </div>
  </div>
</div>

<div id="content-area-home" class="container"> 
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>CASH</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">  
      <h2>"Transform your unused gears into profits!"</h2>
      <p>Majority of people use their gears less than 150 days out of a year. ClyQe allows you to gain profits from unused gears. Rent out your gears when you don't need them, and keep them when you do. </p>
    </div>
    <div class ="col-lg-4">
      <div class="thumbnail">
        <%= image_tag("make_money/money.png") %>
      </div>
    </div>
  </div>
</div>
<div class="color-me-gray">
  <div id="content-area-home" class="container"> 
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>CONVENIENCE</h3>
      </div>
    </div>
    <div class="row">
      <div class ="col-md-4 col-md-offset-1">
        <div class="thumbnail">
          <%= image_tag("make_money/location.png") %>
        </div>
      </div>
      <div class="col-md-6">  
        <h2>"Rent gears wherever and whenever you need them!"</h2>
        <p>No more paying rental fee for the length of your travel. ClyQe gives you a way to rent with flexible schedule and location. Rent a gear when you need it, and save money on the day that you don't. </p> 
      </div>
    </div>
  </div>
</div>
<div id="content-area-home" class="container"> 
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>COMMUNITY</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">  
      <h2>"A place to learn with your fellow photo nerds!"</h2>
      <p>Whether you are gear owners or renters, ClyQe is a place to make friends. Learn from your fellow photographers on tips about gears, techniques, and favorite photography locations.</p> 
    </div>
    <div class ="col-md-4">
      <div class="thumbnail">
        <%= image_tag("make_money/community.png") %>
      </div>
    </div>
  </div>
</div>
