<% provide(:title, @user.name) %>
<div class="jumbotron">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <%= link_to "Post gear", postgear_path, class: "btn btn-default btn-success" %>
  </aside>
  <!-- delete above and change span from 4 to 8 -->
  <div class="span8">
    <h3>Gear List</h3>
    <%= render 'shared/posts' %>
  </div>

  <div>
    <p><%= link_to "Update User Profile", edit_user_path(current_user), class: "btn btn-default btn-success" %></p>
    <p><%= link_to "Cancel your account", @user, method: :delete, confirm: "You sure?", class: "btn btn-default btn-success" %></p>
  </div>

  <div>
    <%= image_tag @user.profile_picture.url(:medium) %>
  </div>
</div>