<% provide(:title, "Post Gear") %>
<div class="container fluid">
<div id="pg-content" class="content" >
    <div class="row">
    <h1>Post Gear</h1>
      <div class="span6 offset3">
        <%= form_for(@gear, :html => {:multipart => true}) do |f| %>

          <%= render 'shared/error_messages', object: f.object %>
          <div><%= f.label :title %><br />
          <%= f.text_field :title %></div>

          <div><%= f.label :brand %><br />
          <%= f.select :brand, [ "Canon", "Nikon", "Sigma", "Panasonic", "Leica", "Olympus", "Fujifilm", "Mamiya", "Minolta", "Bower", "GoPro", "Sanyo", "Ricoh", "Pentax", " Lytro" ], :prompt => 'Select Brand'%></div>

          <div><%= f.label :component %><br />
          <%= f.select :component, [ "Body", "Lens", "Accessory" ], :prompt => 'Select Component' %></div>

          <div><%= f.label :daily_rental_price %><br />
          <%= f.text_field :daily_rental_price %></div>

          <div><%= f.label :description %><br />
          <%= f.text_field :description %></div>

          <!--add photo of gear -->
          <div><%= f.label :gear_picture %><br />
          <%= f.file_field :gear_picture, :style => "width:400px;"  %></div> 
          
          <%= f.submit "Post gear now!", class: "btn btn-default btn-success" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
</div>